* {
	margin: 0;
	padding: 0;
}

.card {
	height: 550px;
	width: 350px;
	background-color: aliceblue;
	border: 2px solid black;
	border-radius: 20px;
	margin: 30px;
	box-shadow: 0px 8px 8px;
	display: inline-block;
	transition: box-shadow 0.5s ease-in;
}


.card:hover {
	box-shadow: 0px 20px 15px;
}

img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	height: 70%
}

.desc {
	text-align: center;
	line-height: 20px;
	margin-top: -30px;
	color: slategray;
	padding: -100px;
}


.desc h1 {
	font-size: 2.5rem;
}

.desc p {
	font-size: 1.5rem;
	font-weight: 500;
}