---
layout: base
---
<body>
    <table>
        <tr>
            <th colspan="2"><h2>Login</h2></th>
        </tr>
        <tr>
            <td><label for="uid">User ID</label></td>
            <td><input type="text" name="uid" id="uid" required></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password" id="password" required></td>
        </tr>
        <tr>
            <td colspan="2"><button onclick="login_User()">Login</button></td>
        </tr>
    </table>
    <a href="{{site.baseurl}}/usertype/">Don't have an account? Sign up here!</a>
    <script>
        function login_User() {
            // Extract data from inputs
            const uid = document.getElementById("uid").value;
            const password = document.getElementById("password").value;
            // Prepare data for POST request
            const userData = {
                uid: uid,
                password: password
            };
            // Prepare request options
            const requestOptions = {
                method: 'POST',
                headers: new Headers({'content-type': 'application/json'}),
                body: JSON.stringify(userData), // Convert data object to JSON string
                mode: 'cors',
                credentials: 'include'
            };
            // URL for Create API
            const url = 'http://127.0.0.1:8086/api/users/authenticate';
            // Async fetch API call to the database to create a new user
            fetch(url, requestOptions)
                .then(response => {
                    // Handle server response
                    if (response.status !== 200) {
                        const errorMsg = 'Database response error: ' + response.status;
                        console.log(errorMsg);
                        return;
                    }
                    // Response contains valid result
                    response.json().then(data => {
                        console.log(data)
                        if (data !== null) {
                            document.cookie = `userid=${data}; expires=Thu, 20 Jan 2025 00:00:00 UTC; path=/;`;
                        }
                    });
                })
                .catch(error => {
                    // Handle fetch errors
                    console.error('Fetch error:', error);
                });
        }
    </script>
</body>